<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <button class="button-nav"><a href="/home">Home</a></button>
        <button class="button-nav"><a href="/shop">Shop</a></button>
        <button class="button-nav"><a href="/pet_status">Pet Status</a></button>
        <button class="button-nav"><a href="/settings">Settings</a></button>
    </div>
    <div class="content">
        <h1>Welcome to my Flask app!</h1>
        <p>Click one of the buttons above to navigate to a different page.</p>
    </div>
</body>
</html>
