<!DOCTYPE html>
<html>
<head>
    <title>Pet Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <button class="button-nav"><a href="{{ url_for('home') }}">Home</a></button>
        <button class="button-nav"><a href="{{ url_for('shop') }}">Shop</a></button>
        <button class="button-nav"><a href="{{ url_for('pet_status') }}">Pet Status</a></button>
        <button class="button-nav"><a href="{{ url_for('settings') }}">Settings</a></button>
    </div>
    
    <h1>Pet Status</h1>
    <p>Here's the status of your pet:</p>
    <ul>
        <li>Name: {{user.pet.name}}</li>
        <li>Species: {{user.pet.species}}</li>
        <li id="hunger">Hunger: {{user.pet.hunger}}</li>
        <li id="happiness">Happiness: {{user.pet.happiness}}</li>
        <li>Age: {{user.pet.getAge()}}</li>
    </ul>
    <button onclick="feedPet()">Feed Pet</button>

    <script>
    function feedPet() {
        /* TODO actually implement user endpoints */
        fetch('/{{user.user_id}}/feed')
            .then(response => response.json())
            .then(data => {
                const hungerElement = document.getElementById("hunger");
                hungerElement.textContent = `Hunger: ${data.hunger}`;

                const happinessElement = document.getElementById("happiness");
                happinessElement.textContent = `Happiness: ${data.happiness}`;
            })
            .catch(error => {
            console.error(error);
            });
    }
    </script>
</body>
</html>

