<!DOCTYPE html>
<html>
<head>
    <title>Pet Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!--Pet Stats Display Section -->
    <div class = 'pet_status'>
        <div class = 'title'>
            <p id="p_name"></p>
        </div>
        <div class = 'pet_outer_container'>
            <div class = 'home_menu'>
                    <form_list>
                        <button class="home_buttons"><a href="{{ url_for('home') }}">Home</a></button>
                        <button class="home_buttons"><a href="{{ url_for('shop') }}">Shop</a></button>
                        <button class="home_buttons"><a href="{{ url_for('pet_status') }}">Pet Status</a></button>
                        <button class="home_buttons"><a href="{{ url_for('settings') }}">Settings</a></button>
                    </form_list>
            </div>
            <div class = 'pet_container'>
                <img id="pet-image" src="">
            </div>
            <div class="pet_stats_container">
                <form_list>
                    <div class='pet_status_display'>
                        
                        <img src="static/images/warning.png" width="50" height="50" style="float: left; margin-right: 15px;">
                        <p id="status"></p>
                        
                        <!-- <p id="health"></p> -->
                    </div>
                    <div class='hp_display'>
                        <p id="health"></p>
                    </div>
                    
                </form_list>
            </div>

        </div>
    <div class="actions">
        <div class = "inv">
            <h2 id="inventory">Inventory</h2>
            <ul id="item-list">
            </ul>
        
        </div>
    </div>

    <div class = "recc"> 
        <div class="column table">
            <div class="recommendations">
                <h2 id="reco-actions">Recommended Actions</h2>
                <p id="reco-columns">Item Name | Price | Adjusted Effect</p>
                <ul id="reco-list">
                </ul>
            </div>
        </div>
    </div>
        
    
    
    
    <div class="content">
        
        
        <script>
            function updateStatus() {
                console.log('update status')
                fetch('http://127.0.0.1:5004/status', {
                    method: "GET"
                    })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("status").textContent =  data.pet_status.status_name;
                        document.getElementById("p_name").textContent =  data.pet_status.pet_name;
                        document.getElementById("health").textContent = "HP:" + data.pet_status.pet_health + "%";
                        document.getElementById("pet-image").src = "{{ url_for('static', filename='images/') }}" + data.pet_status.img_name;
                        updateItemList(data.items)
                        
                        // Update recommended items list
                        var itemList = document.getElementById('reco-list');
                        itemList.innerHTML = '';

                        data.recommendations.forEach(function(reco) {
                            console.log('reco')
                            var li = document.createElement('li');
                            li.textContent = reco.item_name + " | $" + reco.cost + " | " + reco.adjusted_effect;
                            itemList.appendChild(li);
                        });
                    })
                    .catch(error => console.error(error));
            }

            function useItem(item) {
                const body = new FormData();
                body.append('item_id', item.item_id);
                fetch('http://127.0.0.1:5004/status', {
                    method: "POST",
                    body: body
                    })
                    .then(
                        updateStatus()
                    )
                    .catch(error => console.error(error));
            }
                
            function updateItemList(items) {
                var itemList = document.getElementById('item-list');
                itemList.innerHTML = '';

                // Add each item to the inventory list
                items.forEach(function(item) {
                    var li = document.createElement('li');
                    li.textContent = item.item_name + " (" + item.item_amount + ")";

                    // Create button for each text element
                    var button = document.createElement("button");
                    button.textContent = "Use";
                    button.type = "submit";
                    button.onclick = function() {
                        useItem(item);
                    };
                    li.appendChild(button);

                    itemList.appendChild(li);
                });
            }

            updateStatus();
            setInterval(updateStatus, 300000); // 5 minutes
        </script>
    </div>
</body>
</html>
