<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Settings</h1>
    <p>Here are your current settings:</p>
    <ul>
        <li>Sound: 
            <label class="toggle-switch">
                <input type="checkbox" id="sound-toggle" />
                <span class="switch"></span>
            </label>
        </li>
        <li>Notifications:
            <label class="toggle-switch">
                <input type="checkbox" id="notification-toggle" />
                <span class="switch"></span>
            </label>
        </li>
        <li>Language: 
            <div class="language-dropdown">
                <button class="language-dropdown-toggle">Select Language</button>
                <ul class="language-dropdown-menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Spanish</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <div class="nav">
        <button class="button-nav"><a href="{{ url_for('home') }}">Home</a></button>
        <button class="button-nav"><a href="{{ url_for('shop') }}">Shop</a></button>
        <button class="button-nav"><a href="{{ url_for('pet_status') }}">Pet Status</a></button>
        <button class="button-nav"><a href="{{ url_for('settings') }}">Settings</a></button>
    </div>
</body>
</html>

